.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('/img/pexels-tomas-andreopoulos-797900.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div-filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: right;
    width: 100%;
    background-color: darkslategray;
}

.filter {
    margin: 5px;
    padding: 3px 5px;
    border-radius: 5px;
}